{:paths ["src" "resources"]
 :deps {com.datomic/peer {:mvn/version "1.0.6735"}
        com.hyperfiddle/electric {:local/root "vendor/electric"}
        com.hyperfiddle/rcf {:mvn/version "20220926-202227"}
        info.sunng/ring-jetty9-adapter 
        {:mvn/version "0.17.7" ; is Jetty 10 actually despite the package name
         :exclusions [org.slf4j/slf4j-api info.sunng/ring-jetty9-adapter-http3]}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}
        ring-basic-authentication/ring-basic-authentication {:mvn/version "1.1.1"}}
 :aliases
 {:dev
  {:extra-deps
   {binaryage/devtools {:mvn/version "1.0.6"}
    ch.qos.logback/logback-classic {:mvn/version "1.2.11"}
    thheller/shadow-cljs {:mvn/version "2.22.10"}}
   :jvm-opts
   ["-Xss2m" ; https://github.com/hyperfiddle/photon/issues/11
    "-XX:-OmitStackTraceInFastThrow"] ;; RCF - https://archive.md/NNt9r
   :exec-fn user/main
   :exec-args {}}}}
