{:paths ["src" "resources"]
 :deps {com.datomic/client-api {:mvn/version "1.0.58"}
        com.hyperfiddle/electric {:mvn/version "v2-alpha-167-gbd475584"}
        com.hyperfiddle/rcf {:mvn/version "20220926-202227"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}}
 :mvn/repos {"my.datomic.com" {:url "https://my.datomic.com/repo"}}
 :aliases
 {:dev
  {:extra-deps
   {binaryage/devtools {:mvn/version "1.0.6"}
    ch.qos.logback/logback-classic {:mvn/version "1.2.11"}
    com.datomic/dev-local {:mvn/version "1.0.243"}
    com.google.guava/guava {:mvn/version "31.1-jre"} ; fix conflict - datomic cloud & shadow
    thheller/shadow-cljs {:mvn/version "2.20.1"}}
   :jvm-opts
   ["-Xss2m" ; https://github.com/hyperfiddle/photon/issues/11
    "-XX:-OmitStackTraceInFastThrow"] ;; RCF - https://archive.md/NNt9r
   :exec-fn user/main
   :exec-args {}}}}
