{:lint-as {hyperfiddle.photon/def     clojure.core/def
           hyperfiddle.photon/defn    clojure.core/defn
           hyperfiddle.photon/for     clojure.core/for
           hyperfiddle.photon/fn      clojure.core/fn
           hyperfiddle.photon-dom/for clojure.core/for}
 :linters {:redundant-expression {:level :off}}}